<div class="panel-item feature-item" data-item-id="{{id}}" data-item-type="feat" data-feature-id="{{id}}" data-category-id="{{categoryId}}">
    <div class="panel-item-row feature-row">
        <div class="panel-item-image-container feature-image-container">
            <img class="panel-item-image feature-image" src="{{img}}" alt="{{name}}"/>
            <i class="fa-solid fa-dice-d20 panel-item-roll-overlay feature-roll-overlay"></i>
        </div>
        <div class="panel-item-name feature-name">
            {{name}}
            {{> "modules/coffee-pub-squire/templates/partials/action-type" actionType=actionType}}
            {{#if uses}}
                <span class="feature-quantity">({{uses.value}}/{{uses.max}})</span>
            {{/if}}
        </div>
        <div class="tray-buttons">
            <i class="fa-solid fa-heart {{#unless isFavorite}}faded{{/unless}}" title="Toggle Favorite"></i>
            <i class="fa-solid fa-feather"></i>
        </div>
    </div>
</div> 
