<div class="panel-item feature-item" data-item-id="{{id}}" data-item-type="feat" data-feature-id="{{id}}" data-category-id="{{categoryId}}">
    <div class="panel-item-row feature-row">
        <div class="panel-item-image-container feature-image-container">
            <img class="panel-item-image feature-image" src="{{img}}" alt="{{name}}"/>
            <i class="fa-solid fa-dice-d20 panel-item-roll-overlay feature-roll-overlay"></i>
        </div>
        <div class="panel-item-name feature-name">
            {{name}}
        </div>
        <div class="panel-item-context">
            {{#if (eq actionType "action")}}<span class="panel-item-badge context-action action-action" title="Action">A</span>
            {{else if (eq actionType "bonus")}}<span class="panel-item-badge context-action action-bonus" title="Bonus Action">B</span>
            {{else if (eq actionType "reaction")}}<span class="panel-item-badge context-action action-reaction" title="Reaction">R</span>
            {{else if (eq actionType "special")}}<span class="panel-item-badge context-action action-special" title="Special">S</span>{{/if}}
            {{#if uses}}
                <span class="panel-item-badge context-count feature-quantity" title="Uses">{{uses.value}}/{{uses.max}}</span>
            {{/if}}
        </div>
        <div class="tray-buttons">
            <i class="fa-solid fa-heart {{#unless isFavorite}}faded{{/unless}}" title="Toggle Favorite"></i>
            <i class="fa-solid fa-feather"></i>
        </div>
    </div>
</div> 
