<div class="quest-entry collapsed" data-quest-uuid="{{entry.uuid}}" data-quest-number="{{entry.questNumber}}" data-category="{{entry.category}}" data-visible="{{entry.visible}}" data-quest-status="{{entry.status}}" data-participants="{{#if entry.participants}}{{#each entry.participants}}{{#unless @first}},{{/unless}}{{this.uuid}}{{/each}}{{/if}}">
  
  
  <div class="quest-entry-header-wrapper">
    <!-- ENTRY HEADER -->
    <div class="quest-entry-header">
      <div class="quest-entry-name" data-tooltip="{{entry.name}}">
        <span class="quest-icon">
          {{#if entry.iconHtml}}{{{entry.iconHtml}}}{{else}}<i class="fa-solid fa-flag quest-type-icon"></i>{{/if}}
        </span>
        <span class="quest-number">{{entry.questNumber}}</span>
        {{entry.name}}
      </div>
      <div class="quest-toolbar">
        <i class="fa-solid fa-thumbtack quest-pin {{#if entry.isPinned}}pinned{{/if}}" data-uuid="{{entry.uuid}}" data-category="{{entry.category}}" title="Pin this quest"></i>
        {{#if isGM}}
        <i class="fa-solid fa-location-dot quest-pin-to-scene quest-pin-icon {{#if entry.hasPinOnScene}}quest-pin-active{{else}}quest-pin-dim{{/if}}" data-uuid="{{entry.uuid}}" data-quest-number="{{entry.questNumber}}" data-category="{{entry.category}}" data-visible="{{entry.visible}}" data-quest-status="{{entry.status}}" data-has-pin-on-scene="{{entry.hasPinOnScene}}" title="{{#if entry.hasPinOnScene}}Unpin from Scene{{else}}Pin to Scene{{/if}}"></i>
          <i class="fa-solid fa-ellipsis-h quest-status-menu" data-uuid="{{entry.uuid}}" title="Quest options"></i>
        {{/if}}
        <i class="fa-solid fa-chevron-right quest-entry-toggle" title="Expand/Collapse"></i>
      </div>  
    </div>
    <!-- PROGRESS BAR -->
    {{#if entry.tasks}}
      {{#if entry.tasks.length}}
        {{#if (gt entry.progress 0)}}
          <div class="quest-entry-progressbar">
            <div class="quest-entry-progressbar-fill" style="width: {{entry.progress}}%;"></div>
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>


  <!-- ENTRY CONTENT -->
  <div class="quest-entry-content">
    <!-- DESCRIPTION -->
    {{#if entry.description}}
      <div class="quest-entry-description">
        {{#if entry.img}}
          <div class="quest-entry-image">
            <img src="{{entry.img}}" alt="{{entry.name}}">
          </div>
        {{/if}}
        <span class="quest-entry-label">Description</span>
        <p>{{entry.description}}</p>
      </div>
    {{/if}}
    <!-- OBJECTIVES -->
    {{#if entry.tasks}}
      {{#if entry.tasks.length}}
        <div class="quest-entry-tasks">
          <span class="quest-entry-label">Objectives</span>
          <ul>
            {{#each entry.tasks}}
              <li class="{{#if (eq this.state 'completed')}}task-complete{{/if}} {{#if (eq this.state 'hidden')}}task-hidden{{/if}} {{#if (eq this.state 'failed')}}task-failed{{/if}}" data-task-state="{{this.state}}" data-task-index="{{@index}}">
                <!-- Objective Number (or check/x); GM: left=complete, middle=hidden, right=failed; Player: click=toggle active -->
                <span class="objective-number{{#if this.isActive}} active{{/if}}{{#if ../entry.isPinned}} clickable-objective{{/if}}" title="{{#if ../isGM}}Left=complete, Middle=hidden, Right=failed{{else}}Click to toggle active objective{{/if}}">
                  {{#if this.completed}}<i class="fas fa-check objective-number-icon" title="Complete"></i>{{else if (eq this.state 'failed')}}<i class="fas fa-times objective-number-icon" title="Failed"></i>{{else}}{{this.objectiveNumber}}{{/if}}
                </span>
                <!-- Objective Text -->
                <div class="objective-text{{#if this.isActive}} active{{/if}}" {{#if (and ../isGM this.gmHint)}}data-tooltip="GM Note: {{this.gmHint}}"{{/if}}>
                    {{#if (and (eq this.state 'hidden') (not ../isGM))}}
                      Objective not discovered
                    {{else}}
                      {{this.text}}
                    {{/if}}
                  <!-- Treasure -->
                  {{#if (and ../isGM this.treasureUnlocks this.treasureUnlocks.length)}}
                    {{#unless this.completed}}
                      <span class="locked-objective-treasure">
                        <i class="fa-solid fa-lock"></i>
                        {{#each this.treasureUnlocks}}{{#unless @first}}, {{/unless}}{{this}}{{/each}}
                      </span>
                    {{else}}
                      <span class="unlocked-objective-treasure">
                        {{#each this.treasureUnlocks}}{{#unless @first}}, {{/unless}}{{this}}{{/each}}
                      </span>
                    {{/unless}}
                  {{/if}}
                  <!-- GM Note -->
                  {{#if (and ../isGM this.gmHint)}}
                    <span class="objective-gm-note">
                      <i class="fa-solid fa-file-certificate"></i>
                      {{this.gmHint}}
                    </span>
                  {{/if}}
                </div>
                {{#if ../isGM}}
                <i class="fa-solid fa-location-dot objective-pin-to-scene quest-pin-icon {{#if this.hasPinOnScene}}quest-pin-active{{else}}quest-pin-dim{{/if}}" data-quest-uuid="{{../entry.uuid}}" data-quest-number="{{../entry.questNumber}}" data-category="{{../entry.category}}" data-visible="{{../entry.visible}}" data-task-index="{{@index}}" data-task-state="{{this.state}}" data-task-text="{{this.text}}" data-has-pin-on-scene="{{this.hasPinOnScene}}" title="{{#if this.hasPinOnScene}}Unpin objective from Scene{{else}}Pin objective to Scene{{/if}}"></i>
                <i class="fa-solid fa-ellipsis-h objective-context-menu" data-quest-uuid="{{../entry.uuid}}" data-quest-number="{{../entry.questNumber}}" data-category="{{../entry.category}}" data-visible="{{../entry.visible}}" data-task-index="{{@index}}" data-task-state="{{this.state}}" data-task-text="{{this.text}}" data-is-active="{{this.isActive}}" title="Objective options"></i>
                {{/if}}
              </li>
            {{/each}}
          </ul>
        </div>
        {{/if}}
      {{/if}}
    <!-- PLOT HOOK -->
    {{#if isGM}}
      {{#if entry.plotHook}}
        <div class="quest-entry-plothook">
          <span class="quest-entry-label">Plot Hook</span>
          <p>{{entry.plotHook}}</p>
        </div>
      {{/if}}
    {{/if}}
    <!-- TREASURE -->
    {{#if entry.reward}}
      {{#if entry.reward.treasure}}
        {{#if entry.reward.treasure.length}}
          <div class="quest-entry-reward">
            <span class="quest-entry-label">Treasure</span>
            <ul>
          {{#if isGM}}
            {{#each entry.reward.treasure}}
              <li>
                {{#if this.boundToObjective}}
                  {{#unless this.unlocked}}
                    <i class="fa-solid fa-lock treasure-lock"></i>
                  {{/unless}}
                {{/if}}
                {{#if this.uuid}}
                  <i class="fa-solid fa-gem treasure-icon"></i>
                  <a class="treasure-link" data-uuid="{{this.uuid}}">{{this.name}}</a>
                {{else if this.name}}
                  <i class="fa-solid fa-gem treasure-icon"></i>
                  <span class="treasure-name">{{this.name}}</span>
                {{else}}
                  {{this.text}}
                {{/if}}
              </li>
            {{/each}}
          {{else}}
            {{#each entry.reward.treasure}}
              {{#unless this.boundToObjective}}
                <li>
                  {{#if this.uuid}}
                    <i class="fa-solid fa-gem treasure-icon"></i>
                    <a class="treasure-link" data-uuid="{{this.uuid}}">{{this.name}}</a>
                  {{else}}
                    {{#if this.name}}
                      <i class="fa-solid fa-gem treasure-icon"></i>
                      <span class="treasure-name">{{this.name}}</span>
                    {{else}}
                      {{this.text}}
                    {{/if}}
                  {{/if}}
                </li>
              {{else}}
                {{#if this.unlocked}}
                  <li class="treasure-unlocked">
                    {{#if this.uuid}}
                      <i class="fa-solid fa-gem treasure-icon"></i>
                      <a class="treasure-link" data-uuid="{{this.uuid}}">{{this.name}}</a>
                    {{else}}
                      {{#if this.name}}
                        <i class="fa-solid fa-gem treasure-icon"></i>
                        <span class="treasure-name">{{this.name}}</span>
                      {{else}}
                        {{this.text}}
                      {{/if}}
                    {{/if}}
                  </li>
                {{/if}}
              {{/unless}}
            {{/each}}
                      {{/if}}
          </ul>
        </div>
        {{/if}}
      {{/if}}
    {{/if}}
    <!-- REWARD -->
    {{#if entry.reward}}
      {{#if entry.reward.xp}}
        <div class="quest-entry-reward">
          <span class="quest-entry-label">Experience</span> {{entry.reward.xp}}
        </div>
      {{/if}}
    {{/if}}
    <!-- LOCATION -->
    {{#if entry.location}}
      <div class="quest-entry-location">
        <span class="quest-entry-label">Location</span> {{entry.location}}
      </div>
    {{/if}}
    <!-- TIMEFRAME -->
    {{#if entry.timeframe}}
      {{#if entry.timeframe.duration}}
        <div class="quest-entry-timeframe">
          <span class="quest-entry-label">Timeframe</span> {{entry.timeframe.duration}}
        </div>
      {{/if}}
    {{/if}}
    <!-- STATUS -->
    {{#if entry.status}}
      <div class="quest-entry-progress">
        <span class="quest-entry-label">Status</span> {{entry.status}}
      </div>
    {{/if}}
    <!-- PARTICIPANTS -->
    {{#if entry.participants}}
      {{#if entry.participants.length}}
        <div class="quest-entry-participants">
          <div class="participant-portraits">
            {{#each entry.participants}}
            <div class="participant-portrait" data-uuid="{{this.uuid}}" title="{{this.name}}">
              <img src="{{this.img}}" alt="{{this.name}}">
            </div>
             {{/each}}
          </div>
        </div>
      {{/if}}
    {{/if}}
    <!-- TAGS -->
    {{#if entry.tags}}
      {{#if entry.tags.length}}
        <div class="quest-entry-tags">
          {{#each entry.tags}}
            <span class="quest-tag {{#if (includes filters.tags this)}}selected{{/if}}" data-tag="{{this}}">{{this}}</span>
          {{/each}}
        </div>
      {{/if}}
    {{/if}}
  </div>
</div> 
