{{#if actor}}

    {{!-- PARTY NAME --}} 
    <div class="handle-info-container">
      <span class="handle-info-title">{{#if defaultPartyName}}{{defaultPartyName}}{{else}}Party{{/if}}</span>
    </div>

    <span class="tray-handle-separator spacer"></span>

    {{!-- PLAYER --}} 
    <div class="handle-partymembers">
        {{!-- CHARACTER PORTRAIT --}} 
        {{> handle-character-portrait}}
        {{!-- PLAYER HEALTH --}} 
         {{#if showHandleHealthBar}}
            {{> handle-health id="player"}}
        {{/if}}
    </div>
    <span class="tray-handle-separator line-ridge-thin"></span>
    
    {{!-- PARTY --}}     
    {{#if otherPartyMembers}}
        {{#each otherPartyMembers as |member|}}
            {{#unless @first}}<span class="tray-handle-separator line-dotted-thin"></span>{{/unless}}
            <div class="handle-partymembers">
                <div class="handle-partymember-icon {{#if member.isOwner}}clickable{{/if}}" {{#if member.isOwner}}data-tooltip="Switch to {{member.name}}"{{/if}} data-actor-id="{{member.id}}">
                    <img src="{{member.img}}" alt="{{member.name}}"/>
                </div>
               {{#if ../showHandleHealthBar}}
                    {{> handle-health id="party" member=member}}
                {{/if}}
            </div>
        {{/each}}
        <span class="tray-handle-separator line-ridge-thin"></span>
    {{/if}}
{{else}}
    {{!-- NO PARTY SELECTED --}} 
    <div class="handle-info-container">
        <span class="handle-info-title">Select or Create a Character</span>
    </div>
    <span class="tray-handle-separator spacer"></span>
{{/if}}

{{!-- THESE DO NOT REQUIRE A SELECTED TOKEN --}} 

{{!-- MACROS --}} 
{{#if showHandleMacros}}
    {{> handle-macros}}
    <span class="tray-handle-separator line-ridge-thin"></span>
{{/if}}

{{!-- HEALTH TRAYBUTTON --}} 
{{#if showHandleHealthBar}}
    {{> handle-health-tray}}
    <span class="tray-handle-separator line-ridge-thin"></span>
{{/if}}


{{!-- DICE TRAY BUTTON --}} 
{{#if showHandleDiceTrayr}}
    {{> handle-dice-tray}}
    <span class="tray-handle-separator line-ridge-thin"></span>
{{/if}}