{{#if actor}}
    <span class="tray-handle-separator spacer"></span>

    {{!-- FAVORITES --}} 
    {{#if showHandleFavorites}}
        <div class="handle-favorites">
            {{#each (getFavorites actor)}}
            <div class="handle-favorite-icon" 
                data-item-id="{{this.id}}"
                data-tooltip="<strong>{{this.name}}</strong>
                {{#if (eq this.type 'spell')}}
                <br><em>{{#if this.system.level}}Level {{this.system.level}}{{else}}Cantrip{{/if}} {{this.system.school}}</em>
                {{#if this.system.materials}}<br>Materials: {{this.system.materials}}{{/if}}
                {{#if this.system.damage.parts}}<br>Damage: {{this.system.damage.parts.[0].[0]}} {{this.system.damage.parts.[0].[1]}}{{/if}}
                {{#if this.system.scaling.mode}}<br>Scales with: {{this.system.scaling.mode}}{{/if}}
                {{/if}}

                {{#if (eq this.type 'weapon')}}
                <br><em>{{#if (eq this.system.actionType 'mwak')}}Melee Weapon{{else if (eq this.system.actionType 'rwak')}}Ranged Weapon{{/if}}</em>
                {{#if this.system.damage.parts}}<br>Damage: {{this.system.damage.parts.[0].[0]}} {{this.system.damage.parts.[0].[1]}}{{/if}}
                {{#if this.system.range.value}}<br>Range: {{this.system.range.value}}{{#if this.system.range.long}}/{{this.system.range.long}}{{/if}} ft{{/if}}
                {{/if}}

                {{#if (eq this.type 'feat')}}
                <br><em>Feature</em>
                {{#if this.system.requirements}}<br>Requires: {{this.system.requirements}}{{/if}}
                {{#if this.system.description.value}}<br>{{this.system.description.value}}{{/if}}
                {{/if}}">
                <img src="{{this.img}}" alt="{{this.name}}"/>
                <i class="fas fa-dice-d20 handle-favorite-roll-overlay"></i>
            </div>
            {{/each}}
        </div>
        <span class="tray-handle-separator line"></span>
    {{/if}}

    {{!-- PRIMARY STATS --}} 
    {{#if showHandleStatsPrimary}}
        <span class="handle-stats-primary">
            <span class="tray-handle-content">{{actor.system.attributes.ac.value}}</span> <span class="tray-handle-label">AC</span>
            <span class="tray-handle-separator dot">•</span>
            <span class="tray-handle-content">{{actor.system.attributes.movement.walk}}</span> <span class="tray-handle-label">MOVE</span>
        </span>
        <span class="tray-handle-separator line"></span>
    {{/if}}

    {{!-- SECONDARY STATS --}} 
    {{#if showHandleStatsSecondary}}
        <span class="handle-stats-secondary">
            <span class="tray-handle-content">{{numberFormat actor.system.attributes.init.total sign=true}}</span> <span class="tray-handle-label">INIT</span>
            <span class="tray-handle-separator dot">•</span>
            <span class="tray-handle-content">+{{actor.system.attributes.prof}}</span> <span class="tray-handle-label">PROF</span>
        </span>
        <span class="tray-handle-separator line"></span>
    {{/if}}

    {{!-- HEALTH --}} 
    {{#if showHandleHealthBar}}
        <span class="tray-handle-content">{{actor.system.attributes.hp.value}}</span> <span class="tray-handle-label">HP</span>
        <div class="handle-health-bar">
            <div class="handle-health-fill" style="height: {{multiply (divide actor.system.attributes.hp.value actor.system.attributes.hp.max) 100}}%"></div>
        </div>
        <span class="tray-handle-separator line"></span>
    {{/if}}

    {{!-- CONDITIONS --}} 
    {{#if showHandleConditions}}
        <span class="handle-conditions">
            {{#if (includes effects "Poisoned")}}<i class="fas fa-skull-crossbones condition-icon" title="Poisoned"></i>{{/if}}
            {{#if (includes effects "Stunned")}}<i class="fas fa-dizzy condition-icon" title="Stunned"></i>{{/if}}
            {{#if (includes effects "Paralyzed")}}<i class="fas fa-bolt condition-icon" title="Paralyzed"></i>{{/if}}
            {{#if (includes effects "Prone")}}<i class="fas fa-arrow-down condition-icon" title="Prone"></i>{{/if}}

            {{#if (includes effects "Opportunity Attack")}}
                {{!-- <i class="fas fa-bullseye condition-icon" title="Targeted"></i> --}}
            {{/if}}

            {{#if (includes effects "Bless")}}<i class="fas fa-hand-holding-heart condition-icon" title="Blessed"></i>{{/if}}

            {{#if (includes effects "Invisible")}}<i class="fas fa-eye-slash condition-icon" title="Invisible"></i>{{/if}}
            {{#if (includes effects "Grappled")}}<i class="fas fa-hand-rock condition-icon" title="Grappled"></i>{{/if}}
            {{#if (includes effects "Frightened")}}<i class="fas fa-ghost condition-icon" title="Frightened"></i>{{/if}}
            {{#if (includes effects "Charmed")}}<i class="fas fa-heart condition-icon" title="Charmed"></i>{{/if}}
            {{#if (includes effects "Blinded")}}<i class="fas fa-eye-slash condition-icon" title="Blinded"></i>{{/if}}
            {{#if (includes effects "Deafened")}}<i class="fas fa-deaf condition-icon" title="Deafened"></i>{{/if}}
            {{#if (includes effects "Diseased")}}<i class="fas fa-virus condition-icon" title="Diseased"></i>{{/if}}
            {{#if (includes effects "Restrained")}}<i class="fas fa-link condition-icon" title="Restrained"></i>{{/if}}
            {{#if (includes effects "Petrified")}}<i class="fas fa-mountain condition-icon" title="Petrified"></i>{{/if}}
            {{#if (includes effects "Inaudible")}}<i class="fas fa-volume-mute condition-icon" title="Inaudible"></i>{{/if}}
        </span>
        {{#if (or 
            (includes effects "Poisoned")
            (includes effects "Stunned")
            (includes effects "Paralyzed")
            (includes effects "Prone")
            (includes effects "Bless")
            (includes effects "Invisible")
            (includes effects "Grappled")
            (includes effects "Frightened")
            (includes effects "Charmed")
            (includes effects "Blinded")
            (includes effects "Deafened")
            (includes effects "Diseased")
            (includes effects "Restrained")
            (includes effects "Petrified")
            (includes effects "Inaudible")
        )}}
            <span class="tray-handle-separator line"></span>
        {{/if}}
    {{/if}}

    {{!-- CHARACTER NAME --}} 
    <div class="handle-character">{{actor.name}}</div>
{{else}}
    <div class="handle-character">Select a Character</div>
{{/if}} 