{{#if actor}}

    {{!-- PARTY NAME --}} 
    <div class="handle-info-container">
      <span class="handle-info-title">{{#if defaultPartyName}}{{defaultPartyName}}{{else}}Party{{/if}}</span>
    </div>

    {{!-- CHARACTER PORTRAIT --}} 
    {{> handle-character-portrait}}
    
    {{!-- HEALTH --}} 
    {{> handle-health}}

    {{!-- OTHER PARTY MEMBERS --}}
    {{#if otherPartyMembers}}
        <span class="tray-handle-separator line"></span>


        <div class="handle-partymembers">
            {{#each otherPartyMembers as |member|}}
                <div class="handle-partymember-icon {{#if member.isOwner}}clickable{{/if}}" {{#if member.isOwner}}data-tooltip="Switch to {{member.name}}"{{/if}} data-actor-id="{{member.id}}">
                    <img src="{{member.img}}" alt="{{member.name}}"/>
                </div>
                {{#if ../showHandleHealthBar}}
                    <div class="handle-healthbar party {{#if member.isOwner}}clickable{{/if}}" data-actor-id="{{member.id}}">
                        <div class="handle-healthbar-fill {{member.healthStatus}}" style="height: {{member.healthPercentage}}%" data-tooltip="{{member.system.attributes.hp.value}} HP"><i class="fas fa-skull" data-fa-transform="flip-h"></i></div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    {{/if}}

{{else}}
    {{!-- NO PARTY SELECTED --}} 
    <div class="handle-info-container">
        <span class="handle-info-title">Create a Party</span>
    </div>
{{/if}}

{{!-- THESE DO NOT REQUIRE A SELECTED TOKEN --}} 

{{!-- MACROS --}} 
{{> handle-macros}}

{{!-- HEALTH --}} 
{{> handle-health-tray}}

{{!-- DICE TRAY --}} 
{{> handle-dice-tray}}

{{!-- FINALSEPARATOR --}} 
<span class="tray-handle-separator line"></span>