{{#if actor}}
    <span class="tray-handle-separator spacer"></span>
    {{!-- DICETRAY --}} 
    {{#if showHandleDiceTray}}
        <div class="handle-dice-tray" title="Dice Tray" data-tooltip="Click to open the dice tray for quick rolls">
            <i class="fas fa-dice-d20"></i>
        </div>
        <span class="tray-handle-separator line"></span>
    {{/if}}

    {{!-- FAVORITES --}} 
    {{#if showHandleFavorites}}
        <div class="handle-favorites">
            {{#each (getFavorites actor)}}
            <div class="handle-favorite-icon" 
                data-item-id="{{this.id}}"
                data-tooltip="<strong>{{this.name}}</strong>
                {{#if (eq this.type 'spell')}}
                <br><em>{{#if this.system.level}}Level {{this.system.level}}{{else}}Cantrip{{/if}} {{this.system.school}}</em>
                {{#if this.system.materials}}<br>Materials: {{this.system.materials}}{{/if}}
                {{#if this.system.damage.parts}}<br>Damage: {{this.system.damage.parts.[0].[0]}} {{this.system.damage.parts.[0].[1]}}{{/if}}
                {{#if this.system.scaling.mode}}<br>Scales with: {{this.system.scaling.mode}}{{/if}}
                {{/if}}

                {{#if (eq this.type 'weapon')}}
                <br><em>{{#if (eq this.system.actionType 'mwak')}}Melee Weapon{{else if (eq this.system.actionType 'rwak')}}Ranged Weapon{{/if}}</em>
                {{#if this.system.damage.parts}}<br>Damage: {{this.system.damage.parts.[0].[0]}} {{this.system.damage.parts.[0].[1]}}{{/if}}
                {{#if this.system.range.value}}<br>Range: {{this.system.range.value}}{{#if this.system.range.long}}/{{this.system.range.long}}{{/if}} ft{{/if}}
                {{/if}}

                {{#if (eq this.type 'feat')}}
                <br><em>Feature</em>
                {{#if this.system.requirements}}<br>Requires: {{this.system.requirements}}{{/if}}
                {{#if this.system.description.value}}<br>{{this.system.description.value}}{{/if}}
                {{/if}}">
                <img src="{{this.img}}" alt="{{this.name}}"/>
                <i class="fas fa-dice-d20 handle-favorite-roll-overlay"></i>
            </div>
            {{/each}}
        </div>
        <span class="tray-handle-separator line"></span>
    {{/if}}

    {{!-- PRIMARY STATS --}} 
    {{#if showHandleStatsPrimary}}
        <span class="handle-stats-primary">
            <span class="tray-handle-content">{{actor.system.attributes.ac.value}}</span> <span class="tray-handle-label">AC</span>
            <span class="tray-handle-separator dot">•</span>
            <span class="tray-handle-content">{{actor.system.attributes.movement.walk}}</span> <span class="tray-handle-label">MOVE</span>
        </span>
        <span class="tray-handle-separator line"></span>
    {{/if}}

    {{!-- SECONDARY STATS --}} 
    {{#if showHandleStatsSecondary}}
        <span class="handle-stats-secondary">
            <span class="tray-handle-content">{{numberFormat actor.system.attributes.init.total sign=true}}</span> <span class="tray-handle-label">INIT</span>
            <span class="tray-handle-separator dot">•</span>
            <span class="tray-handle-content">+{{actor.system.attributes.prof}}</span> <span class="tray-handle-label">PROF</span>
        </span>
        <span class="tray-handle-separator line"></span>
    {{/if}}

    {{!-- HEALTH --}} 
    {{#if showHandleHealthBar}}
        <span class="tray-handle-content">{{actor.system.attributes.hp.value}}</span> <span class="tray-handle-label">HP</span>
        <div class="handle-health-bar">
            <div class="handle-health-fill" style="height: {{multiply (divide actor.system.attributes.hp.value actor.system.attributes.hp.max) 100}}%"></div>
        </div>
        <span class="tray-handle-separator line"></span>
    {{/if}}

    {{!-- CONDITIONS --}} 
    {{#if showHandleConditions}}
        <span class="handle-conditions">
            {{!-- Core D&D 5e Conditions --}}
            {{#each effects as |effect|}}
                <img class="condition-icon" src="{{effect.icon}}" title="{{effect.name}}"/>
            {{/each}}
        </span>
        {{#if effects.length}}
            <span class="tray-handle-separator line"></span>
        {{/if}}
    {{/if}}

    {{!-- CHARACTER NAME --}} 
    <div class="handle-character">{{actor.name}}</div>
{{else}}
    <div class="handle-character">Select a Character</div>
{{/if}} 