{{#if actor}}

    {{!-- CHARACTER NAME --}} 
    <div class="handle-character">
      
      <span class="handle-character-name">{{actor.name}}</span>
    </div>

    {{!-- CHARACTER PORTRAIT --}} 
    <span class="tray-handle-separator spacer"></span>
    <div class="handle-character-portrait-container">
        <img class="handle-character-portrait" src="{{actor.img}}" alt="{{actor.name}}" data-tooltip="Open character sheet for {{actor.name}}"/>
    </div>
    
    {{!-- HEALTH --}} 
    {{#if showHandleHealthBar}}
        <span class="tray-handle-separator spacer"></span>
        <div class="handle-health-bar">
            <div class="handle-health-fill" style="height: {{multiply (divide actor.system.attributes.hp.value actor.system.attributes.hp.max) 100}}%" data-tooltip="{{actor.system.attributes.hp.value}} HP"></div>
        </div>
    {{/if}}

    {{!-- OTHER PARTY MEMBERS --}}
    {{#if otherPartyMembers}}
        <span class="tray-handle-separator line"></span>
        <div class="handle-other-party-members">
            {{#each otherPartyMembers as |member|}}
                <div class="handle-party-member" data-actor-id="{{member.id}}">
                    <img class="handle-party-member-portrait {{#if member.isOwner}}clickable{{/if}}" 
                         src="{{member.img}}" 
                         alt="{{member.name}}"
                         {{#if member.isOwner}}data-tooltip="Switch to {{member.name}}"{{/if}}/>
                        {{#if showHandleHealthBar}}
                            <div class="handle-party-member-health-bar">
                                <div class="handle-health-fill {{#if member.isOwner}}clickable{{/if}}" 
                                    style="height: {{multiply (divide member.system.attributes.hp.value member.system.attributes.hp.max) 100}}%" 
                                    data-tooltip="{{member.system.attributes.hp.value}} HP"></div>
                            </div>
                        {{/if}}
                </div>
            {{/each}}
        </div>
    {{/if}}

    {{!-- DICETRAY --}} 
    {{#if showHandleDiceTray}}
        <span class="tray-handle-separator line"></span>
        <div class="handle-dice-tray" title="Dice Tray" data-tooltip="Open Dice Tray">
            <i class="fas fa-dice-d20 dice-tray-icon"></i>
        </div>
    {{/if}}

    {{!-- MACROS --}} 
    {{#if showHandleMacros}}
        <span class="tray-handle-separator line"></span>
        <div class="handle-macros" title="Macros" data-tooltip="Open Macros">
            <i class="fas fa-sun macros-icon"></i>
        </div>
    {{/if}}

    {{!-- SEPARATOR --}}
    <span class="tray-handle-separator line"></span>
    <span class="tray-handle-separator spacer"></span>
    <span class="tray-handle-separator spacer"></span>
{{else}}
    <div class="handle-no-character">Create a Party</div>
{{/if}} 