{{#if actor}}

    {{!-- CHARACTER NAME --}} 
    <div class="handle-info-container">
      <span class="handle-info-title">{{#if defaultPartyName}}{{defaultPartyName}}{{else}}Party{{/if}}</span>
    </div>

    {{!-- CHARACTER PORTRAIT --}} 
    <span class="tray-handle-separator spacer"></span>
    <div class="handle-character-portrait-container">
        <img class="handle-character-portrait" src="{{actor.img}}" alt="{{actor.name}}" data-tooltip="Open character sheet for {{actor.name}}"/>
    </div>
    
    {{> handle-health}}

    {{!-- OTHER PARTY MEMBERS --}}
    {{#if otherPartyMembers}}
        <span class="tray-handle-separator line"></span>
        <div class="handle-other-party-members">
            {{#each otherPartyMembers as |member|}}
                <div class="handle-party-member" data-actor-id="{{member.id}}">
                    {{#if ../showHandleHealthBar}}
                        <div class="handle-party-member-health-bar">
                            <div class="handle-health-fill {{#if member.isOwner}}clickable{{/if}}" 
                                style="height: {{multiply (divide member.system.attributes.hp.value member.system.attributes.hp.max) 100}}%" 
                                data-tooltip="{{member.system.attributes.hp.value}} HP"></div>
                        </div>
                    {{/if}}
                    <img class="handle-party-member-portrait {{#if member.isOwner}}clickable{{/if}}" 
                         src="{{member.img}}" 
                         alt="{{member.name}}"
                         {{#if member.isOwner}}data-tooltip="Switch to {{member.name}}"{{/if}}/>
                    
                </div>
            {{/each}}
        </div>
    {{/if}}

{{else}}
    {{!-- NO PARTY SELECTED --}} 
    <div class="handle-info-container">
        <span class="handle-info-title">Create a Party</span>
    </div>
{{/if}}

{{!-- THESE DO NOT REQUIRE A SELECTED TOKEN --}} 

{{> handle-macros}}

{{> handle-dice-tray}}

{{!-- FINALSEPARATOR --}} 
<span class="tray-handle-separator line"></span>