{{#if actor}}

{{!-- CHARACTER NAME --}} 
    <div class="handle-character">
      
      <span class="handle-character-name">Quests</span>
    </div>

 

    {{!-- SEPARATOR --}}
    <span class="tray-handle-separator line"></span>
{{else}}
    <div class="handle-no-character">Create Quests</div>
{{/if}}

{{!-- THESE DO NOT REQUIRE A SELECTED TOKEN --}} 

{{!-- MACROS --}} 
{{#if showHandleMacros}}
    <span class="tray-handle-separator line"></span>
    <div class="handle-macros" title="Macros" data-tooltip="Open Macros">
        <i class="fas fa-sun macros-icon"></i>

        {{#each favoriteMacros as |fav|}}
            <div class="handle-macro-favorite" data-macro-id="{{fav.id}}" data-tooltip="Macro: {{fav.name}}">
                <img src="{{fav.img}}" alt="{{fav.name}}" />
            </div>
        {{/each}}
    </div>
{{/if}}

{{!-- DICETRAY --}} 
{{#if showHandleDiceTray}}
    <span class="tray-handle-separator line"></span>
    <div class="handle-dice-tray" title="Dice Tray" data-tooltip="Open Dice Tray">
        <i class="fas fa-dice-d20 dice-tray-icon"></i>
    </div>
{{/if}}

{{!-- FINALSEPARATOR --}} 
<span class="tray-handle-separator line"></span>