{{!-- QUEST TOOLS --}} 
<div class="handle-info-container">
    <span class="handle-info-title">Quests</span>
    <span class="tray-handle-separator dot"></span>
    {{#if pinnedQuest}}
        <span class="handle-pinned-quest-name"><i class="fas fa-bow-arrow"></i> {{pinnedQuest.name}}</span>
    {{else}}
        <span class="handle-pinned-quest-name"><i class="fas fa-bow-arrow"></i> No pinned quest</span>
    {{/if}}
</div>

{{!-- QUEST PROGRESS --}} 
{{#if pinnedQuest}}
    <div class="handle-quest-progress-container">
        {{#each pinnedQuest.tasks as |task index|}}
            <div class="handle-quest-progress-square">
                <div class="handle-quest-progress-fill objective-{{task.state}}" 
                    title="{{task.state}}: {{task.text}}" 
                    data-task-index="{{index}}">
                    {{#if (eq task.state "completed")}}
                        <i class="fas fa-check"></i>
                    {{/if}}
                    {{#if (eq task.state "failed")}}
                        <i class="fas fa-xmark"></i>
                    {{/if}}
                    {{#if (eq task.state "hidden")}}
                        <i class="fas fa-dash"></i>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}

{{!-- THESE DO NOT REQUIRE A SELECTED TOKEN --}} 

{{!-- MACROS --}} 
{{#if showHandleMacros}}
    <span class="tray-handle-separator line"></span>
    <div class="handle-macros" title="Macros" data-tooltip="Open Macros">
        <i class="fas fa-sun macros-icon"></i>

        {{#each favoriteMacros as |fav|}}
            <div class="handle-macro-favorite" data-macro-id="{{fav.id}}" data-tooltip="Macro: {{fav.name}}">
                <img src="{{fav.img}}" alt="{{fav.name}}" />
            </div>
        {{/each}}
    </div>
{{/if}}

{{!-- DICETRAY --}} 
{{#if showHandleDiceTray}}
    <span class="tray-handle-separator line"></span>
    <div class="handle-dice-tray" title="Dice Tray" data-tooltip="Open Dice Tray">
        <i class="fas fa-dice-d20 dice-tray-icon"></i>
    </div>
{{/if}}

{{!-- FINALSEPARATOR --}} 
<span class="tray-handle-separator line"></span>