{{!-- QUEST TOOLS --}} 
<div class="handle-info-container">
    <span class="handle-info-title">Quests</span>
    <span class="tray-handle-separator line-solid-thin"></span>
    {{#if pinnedQuest}}
        <span class="handle-pinned-quest-name">{{pinnedQuest.name}}</span>
    {{else}}
        <span class="handle-pinned-quest-name">No Pinned Quest</span>
    {{/if}}
</div>

<span class="tray-handle-separator spacer"></span>

{{!-- PLAYER --}} 
<div class="handle-partymembers">
    {{!-- CHARACTER PORTRAIT --}} 
    {{> handle-character-portrait actor=actor displayName=(default actorDisplayName actor.handleDisplayName)}}
    {{!-- PLAYER HEALTH --}} 
    {{#if showHandleHealthBar}}
        {{> handle-health id="player"}}
    {{/if}}
</div>
<span class="tray-handle-separator line-ridge-thin"></span>

{{!-- QUEST PROGRESS --}} 
{{#if pinnedQuest}}
    <div class="handle-pinnedquests">
        {{#each pinnedQuest.tasks as |task index|}}
            <div class="handle-pinnedquest-icon{{#if task.hasPinOnCanvas}} objective-pins-oncanvas{{/if}}{{#if task.hasPinNearby}} objective-pins-nearby{{/if}}">

                <div class="handle-pinnedquest-icon-fill objective-{{task.state}}" 
                    data-task-index="{{@index}}">
                    {{#if (eq task.state "completed")}}
                        <i class="fas fa-check"></i>
                    {{/if}}
                    {{#if (eq task.state "failed")}}
                        <i class="fas fa-xmark"></i>
                    {{/if}}
                    {{#if (eq task.state "hidden")}}
                        <i class="fas fa-eye"></i>
                    {{/if}}
                    {{#if (eq task.state "active")}}
                        <span class="handle-quest-progress-index">{{add @index 1}}</span>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </div>
    <span class="tray-handle-separator line-ridge-thin"></span>
{{/if}}
{{!-- NOTE: To display objectives in top-to-bottom order, reverse pinnedQuest.tasks in JS before passing to the template. --}}



{{!-- THESE DO NOT REQUIRE A SELECTED TOKEN --}} 

{{!-- MACROS --}} 
{{#if showHandleMacros}}
    {{> handle-macros}}
    <span class="tray-handle-separator line-ridge-thin"></span>
{{/if}}

{{!-- HEALTH TRAYBUTTON --}} 
{{#if showHandleHealthBar}}
    {{#if isGM}}
        {{> handle-health-tray}}
        <span class="tray-handle-separator line-ridge-thin"></span>
    {{/if}}
{{/if}}

{{!-- DICE TRAY BUTTON --}} 
{{#if showHandleDiceTray}}
    {{> handle-dice-tray}}
    <span class="tray-handle-separator line-ridge-thin"></span>
{{/if}}