{{#if actor}}

{{!-- CHARACTER NAME --}} 
    <div class="handle-character">
      
      <span class="handle-character-name">{{actor.name}}</span>
    </div>

    {{!-- CHARACTER PORTRAIT --}} 
    <span class="tray-handle-separator spacer"></span>
    <div class="handle-character-portrait-container">
        <img class="handle-character-portrait" src="{{actor.img}}" alt="{{actor.name}}" data-tooltip="Open character sheet for {{actor.name}}"/>
    </div>
    
    {{!-- HEALTH --}} 
    {{#if showHandleHealthBar}}
        <span class="tray-handle-separator spacer"></span>
        <div class="handle-health-bar">
            <div class="handle-health-fill" style="height: {{multiply (divide actor.system.attributes.hp.value actor.system.attributes.hp.max) 100}}%" data-tooltip="{{actor.system.attributes.hp.value}} HP"></div>
        </div>
    {{/if}}


    <span class="tray-handle-separator line"></span>

    {{!-- DICETRAY --}} 
    {{#if showHandleDiceTray}}

        <div class="handle-dice-tray" title="Dice Tray" data-tooltip="Open Dice Tray">
            <i class="fas fa-dice-d20 dice-tray-icon"></i>
        </div>
    {{/if}}

    {{!-- MACROS --}} 
    {{#if showHandleMacros}}
        <div class="handle-macros" title="Macros" data-tooltip="Open Macros">
            <i class="fas fa-sun macros-icon"></i>
        </div>
    {{/if}}


    {{!-- CONDITIONS --}} 
    {{#if showHandleConditions}}
        {{#if isGM}}
            <div class="handle-conditions">
                <i class="fas fa-sparkles add-effect-icon" title="Add Effect"></i>
            </div>
        {{/if}}
    {{/if}}

    {{!-- SEPARATOR --}}
    <span class="tray-handle-separator line"></span>
{{else}}
    <div class="handle-no-character">Create Quests</div>
{{/if}} 