{{#if (eq position "left")}}
<div class="tray-title-small">
    <span>
        {{#if hasJournal}}
        {{journalName}}
        {{else}}
        Shared Notes
        {{/if}}
    </span>
    <div class="notes-controls">
        {{#if hasJournal}}
        <i class="fas fa-book-open open-journal-button" title="Open Journal"></i>
        {{#if canEditPage}}
        <i class="fas fa-edit edit-page-button" title="Edit in Journal"></i>
        {{#if isTextPage}}
        <i class="fas fa-pen inline-edit-toggle" title="Quick Edit"></i>
        {{/if}}
        {{/if}}
        {{/if}}
        {{#if isGM}}
        <i class="fas fa-cog set-journal-button" title="Set Journal"></i>
        {{/if}}
        <i class="fas fa-feather character-sheet-toggle" title="Open Character Sheet"></i>
    </div>
</div>
{{#if hasJournal}}
<div class="notes-page-selector">
    {{#if isGM}}
    <select class="page-select">
        {{#if page}}
        <option value="{{page.id}}" selected>{{pageName}}</option>
        {{/if}}
        {{#each pages}}
        {{#unless (eq id ../page.id)}}
        <option value="{{id}}">{{name}}</option>
        {{/unless}}
        {{/each}}
        <option value="browse-pages">Browse pages...</option>
    </select>
    {{else}}
    {{#if hasPages}}
    <select class="page-select">
        {{#if page}}
        <option value="{{page.id}}" selected>{{pageName}}</option>
        {{/if}}
        {{#each pages}}
        {{#unless (eq id ../page.id)}}
        <option value="{{id}}">{{name}}</option>
        {{/unless}}
        {{/each}}
    </select>
    {{else}}
    <div class="page-name">{{pageName}}</div>
    {{/if}}
    {{/if}}
</div>
{{/if}}
<div class="notes-content">
    {{#if hasPermissionIssue}}
    <div class="permission-error">
        <i class="fas fa-lock"></i>
        <p>You don't have permission to view this journal.</p>
    </div>
    {{else if hasJournal}}
    <div class="journal-content prose"></div>
    {{#if canEditPage}}
    <div class="journal-editor-container" style="display: none;">
        <div class="journal-editor"></div>
        <div class="editor-controls">
            <button class="save-edit-button"><i class="fas fa-save"></i> Save</button>
            <button class="cancel-edit-button"><i class="fas fa-times"></i> Cancel</button>
        </div>
    </div>
    {{/if}}
    {{else}}
    <div class="no-journal-selected">
        {{#if isGM}}
        <p>No journal has been selected for notes.</p>
        <p>Click the <i class="fas fa-cog"></i> icon to select a journal.</p>
        <button class="set-journal-button-large">
            <i class="fas fa-book"></i> Select Journal
        </button>
        {{else}}
        <p>No journal has been selected by the GM yet.</p>
        {{/if}}
    </div>
    {{/if}}
</div>
{{/if}} 