<div class="spells-panel">
    {{#if (eq position "left")}}
    <div class="section-header">
        <div class="header-left">
            <i class="fas fa-sparkles"></i> Spells
        </div>
        <div class="header-right">
            <i class="fas fa-sun spell-filter-toggle filter-toggle {{#if showOnlyPrepared}}active{{else}}faded{{/if}}" title="Toggle Prepared Spells"></i>
        </div>
    </div>
    {{/if}}
    <div class="spell-controls">
        <div class="search-container">
            <input type="text" class="spell-search" placeholder="Search Spells...">
            <i class="fas fa-times search-clear" title="Clear Search"></i>
        </div>
        <select class="spell-filter">
            <option value="all">All Levels</option>
            <option value="cantrip">Cantrips</option>
            {{#each spellLevels}}
            <option value="{{this}}">Level {{this}}</option>
            {{/each}}
        </select>
    </div>

    {{#if (eq position "bottom")}}
    <div class="spell-slots">
        {{#each spellSlots}}
        <div class="slot-group">
            <div class="slot-label">Level {{this.level}}</div>
            <div class="slot-pips">
                {{#times this.max}}
                <div class="slot-pip {{#if (lt @index ../value)}}filled{{/if}}" 
                     data-level="{{../level}}"></div>
                {{/times}}
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}

    <div class="spells-list">
        {{#if (eq position "left")}}
            {{!-- Cantrips --}}
            <div class="level-header">Cantrips</div>
            {{#each spells as |spell|}}
                {{#if (eq spell.system.level 0)}}
                <div class="spell-item prepared" data-spell-id="{{spell.id}}">
                    <div class="spell-row">
                        <div class="spell-image-container">
                            <img class="spell-image" src="{{spell.img}}" alt="{{spell.name}}"/>
                            <i class="fas fa-dice-d20 spell-roll-overlay"></i>
                        </div>
                        <div class="spell-name">
                            {{spell.name}}
                        </div>
                        <div class="tray-buttons">
                            <i class="fas fa-sun" title="Always Prepared"></i>
                            <i class="fas fa-heart {{#unless spell.isFavorite}}faded{{/unless}}" title="Toggle Favorite"></i>
                            <i class="fas fa-feather"></i>
                        </div>
                    </div>
                </div>
                {{/if}}
            {{/each}}

            {{!-- Leveled Spells --}}
            {{#each spellSlots as |slot|}}
            {{#if (or (gt slot.max 0) (lookup ../spellsByLevel slot.level))}}
            <div class="level-header">
                <span>Level {{slot.level}}</span>
                <div class="slot-pips">
                    {{#times slot.max}}
                    <div class="slot-pip {{#if (lt @index ../value)}}filled{{/if}}" 
                         data-level="{{../level}}"></div>
                    {{/times}}
                </div>
            </div>
            {{#each (lookup ../spellsByLevel slot.level) as |spell|}}
                <div class="spell-item {{#if spell.system.preparation.prepared}}prepared{{/if}}" data-spell-id="{{spell.id}}">
                    <div class="spell-row">
                        <div class="spell-image-container">
                            <img class="spell-image" src="{{spell.img}}" alt="{{spell.name}}"/>
                            <i class="fas fa-dice-d20 spell-roll-overlay"></i>
                        </div>
                        <div class="spell-name">
                            {{spell.name}}
                        </div>
                        <div class="tray-buttons">
                            <i class="fas fa-sun {{#unless spell.system.preparation.prepared}}faded{{/unless}}" title="Prepared"></i>
                            <i class="fas fa-heart {{#unless spell.isFavorite}}faded{{/unless}}" title="Toggle Favorite"></i>
                            <i class="fas fa-feather"></i>
                        </div>
                    </div>
                </div>
            {{/each}}
            {{/if}}
            {{/each}}
        {{else}}
            {{!-- Bottom position: original flat list --}}
            {{#each spells}}
            <div class="spell-item {{#if this.prepared}}prepared{{/if}}" data-spell-id="{{this.id}}">
                <div class="spell-row">
                    <div class="spell-image-container">
                        <img class="spell-image" src="{{this.img}}" alt="{{this.name}}"/>
                        <i class="fas fa-dice-d20 spell-roll-overlay"></i>
                    </div>
                    <div class="spell-name">{{this.name}}</div>
                    <div class="spell-level">
                        {{#if (eq this.level 0)}}
                        C
                        {{else}}
                        {{this.level}}
                        {{/if}}
                    </div>
                    <div class="tray-buttons">
                        <i class="fas fa-sun {{#unless this.prepared}}faded{{/unless}}" title="Prepared"></i>
                        <i class="fas fa-heart {{#unless this.isFavorite}}faded{{/unless}}" title="Toggle Favorite"></i>
                        <i class="fas fa-feather"></i>
                    </div>
                </div>
            </div>
            {{/each}}
        {{/if}}
    </div>
</div> 