<div class="weapons-panel">
    {{#if (eq position "left")}}
    <div class="section-header">
        <div class="header-left">
            <i class="fas fa-swords"></i> Weapons
        </div>
        <div class="header-right">
            {{#if (lookup weaponsByType "simple-melee")}}<i class="fas fa-hand-fist weapons-category-filter active" data-filter-id="category-weapon-simple-melee" title="Toggle Simple Melee"></i>{{/if}}
            {{#if (lookup weaponsByType "martial-melee")}}<i class="fas fa-sword weapons-category-filter active" data-filter-id="category-weapon-martial-melee" title="Toggle Martial Melee"></i>{{/if}}
            {{#if (lookup weaponsByType "simple-ranged")}}<i class="fas fa-bow-arrow weapons-category-filter active" data-filter-id="category-weapon-simple-ranged" title="Toggle Simple Ranged"></i>{{/if}}
            {{#if (lookup weaponsByType "martial-ranged")}}<i class="fas fa-crosshairs weapons-category-filter active" data-filter-id="category-weapon-martial-ranged" title="Toggle Martial Ranged"></i>{{/if}}
            {{#if (lookup weaponsByType "natural")}}<i class="fas fa-paw weapons-category-filter active" data-filter-id="category-weapon-natural" title="Toggle Natural Weapons"></i>{{/if}}
            <i class="fas fa-shield-halved weapon-filter-toggle filter-toggle {{#if showOnlyEquipped}}active{{else}}faded{{/if}}" title="Toggle Equipped Weapons"></i>
        </div>
    </div>
    {{/if}}
    <div class="weapon-controls">
        <div class="search-container">
            <input type="text" class="weapon-search" placeholder="Search Weapons...">
            <i class="fas fa-times search-clear" title="Clear Search"></i>
        </div>
    </div>
    <div class="weapons-list">
        {{#if weapons}}
            {{!-- Simple Melee Weapons --}}
            {{#if (lookup weaponsByType "simple-melee")}}
            <div class="category-header" data-category-id="category-weapon-simple-melee">Simple Melee Weapons</div>
            {{#each (lookup weaponsByType "simple-melee") as |weapon|}}
            <div class="weapon-item {{#if weapon.system.equipped}}prepared{{/if}}" data-weapon-id="{{weapon.id}}" data-category-id="category-weapon-simple-melee">
                <div class="weapon-row">
                    <div class="weapon-image-container">
                        <img class="weapon-image" src="{{weapon.img}}" alt="{{weapon.name}}"/>
                        <i class="fas fa-dice-d20 weapon-roll-overlay"></i>
                    </div>
                    <div class="weapon-name">{{weapon.name}}</div>
                    <div class="tray-buttons">
                        <i class="fas fa-shield-alt {{#unless weapon.system.equipped}}faded{{/unless}}" title="Toggle Equipped"></i>
                        <i class="fas fa-heart {{#unless weapon.isFavorite}}faded{{/unless}}" title="Toggle Favorite"></i>
                        <i class="fas fa-feather"></i>
                    </div>
                </div>
            </div>
            {{/each}}
            {{/if}}

            {{!-- Martial Melee Weapons --}}
            {{#if (lookup weaponsByType "martial-melee")}}
            <div class="category-header" data-category-id="category-weapon-martial-melee">Martial Melee Weapons</div>
            {{#each (lookup weaponsByType "martial-melee") as |weapon|}}
            <div class="weapon-item {{#if weapon.system.equipped}}prepared{{/if}}" data-weapon-id="{{weapon.id}}" data-category-id="category-weapon-martial-melee">
                <div class="weapon-row">
                    <div class="weapon-image-container">
                        <img class="weapon-image" src="{{weapon.img}}" alt="{{weapon.name}}"/>
                        <i class="fas fa-dice-d20 weapon-roll-overlay"></i>
                    </div>
                    <div class="weapon-name">{{weapon.name}}</div>
                    <div class="tray-buttons">
                        <i class="fas fa-shield-alt {{#unless weapon.system.equipped}}faded{{/unless}}" title="Toggle Equipped"></i>
                        <i class="fas fa-heart {{#unless weapon.isFavorite}}faded{{/unless}}" title="Toggle Favorite"></i>
                        <i class="fas fa-feather"></i>
                    </div>
                </div>
            </div>
            {{/each}}
            {{/if}}

            {{!-- Simple Ranged Weapons --}}
            {{#if (lookup weaponsByType "simple-ranged")}}
            <div class="category-header" data-category-id="category-weapon-simple-ranged">Simple Ranged Weapons</div>
            {{#each (lookup weaponsByType "simple-ranged") as |weapon|}}
            <div class="weapon-item {{#if weapon.system.equipped}}prepared{{/if}}" data-weapon-id="{{weapon.id}}" data-category-id="category-weapon-simple-ranged">
                <div class="weapon-row">
                    <div class="weapon-image-container">
                        <img class="weapon-image" src="{{weapon.img}}" alt="{{weapon.name}}"/>
                        <i class="fas fa-dice-d20 weapon-roll-overlay"></i>
                    </div>
                    <div class="weapon-name">{{weapon.name}}</div>
                    <div class="tray-buttons">
                        <i class="fas fa-shield-alt {{#unless weapon.system.equipped}}faded{{/unless}}" title="Toggle Equipped"></i>
                        <i class="fas fa-heart {{#unless weapon.isFavorite}}faded{{/unless}}" title="Toggle Favorite"></i>
                        <i class="fas fa-feather"></i>
                    </div>
                </div>
            </div>
            {{/each}}
            {{/if}}

            {{!-- Martial Ranged Weapons --}}
            {{#if (lookup weaponsByType "martial-ranged")}}
            <div class="category-header" data-category-id="category-weapon-martial-ranged">Martial Ranged Weapons</div>
            {{#each (lookup weaponsByType "martial-ranged") as |weapon|}}
            <div class="weapon-item {{#if weapon.system.equipped}}prepared{{/if}}" data-weapon-id="{{weapon.id}}" data-category-id="category-weapon-martial-ranged">
                <div class="weapon-row">
                    <div class="weapon-image-container">
                        <img class="weapon-image" src="{{weapon.img}}" alt="{{weapon.name}}"/>
                        <i class="fas fa-dice-d20 weapon-roll-overlay"></i>
                    </div>
                    <div class="weapon-name">{{weapon.name}}</div>
                    <div class="tray-buttons">
                        <i class="fas fa-shield-alt {{#unless weapon.system.equipped}}faded{{/unless}}" title="Toggle Equipped"></i>
                        <i class="fas fa-heart {{#unless weapon.isFavorite}}faded{{/unless}}" title="Toggle Favorite"></i>
                        <i class="fas fa-feather"></i>
                    </div>
                </div>
            </div>
            {{/each}}
            {{/if}}

            {{!-- Natural Weapons --}}
            {{#if (lookup weaponsByType "natural")}}
            <div class="category-header" data-category-id="category-weapon-natural">Natural Weapons</div>
            {{#each (lookup weaponsByType "natural") as |weapon|}}
            <div class="weapon-item {{#if weapon.system.equipped}}prepared{{/if}}" data-weapon-id="{{weapon.id}}" data-category-id="category-weapon-natural">
                <div class="weapon-row">
                    <div class="weapon-image-container">
                        <img class="weapon-image" src="{{weapon.img}}" alt="{{weapon.name}}"/>
                        <i class="fas fa-dice-d20 weapon-roll-overlay"></i>
                    </div>
                    <div class="weapon-name">{{weapon.name}}</div>
                    <div class="tray-buttons">
                        <i class="fas fa-shield-alt {{#unless weapon.system.equipped}}faded{{/unless}}" title="Toggle Equipped"></i>
                        <i class="fas fa-heart {{#unless weapon.isFavorite}}faded{{/unless}}" title="Toggle Favorite"></i>
                        <i class="fas fa-feather"></i>
                    </div>
                </div>
            </div>
            {{/each}}
            {{/if}}

            <div class="tray-title-small no-matches" style="text-align: center; padding: 10px; display: none;">No matches found</div>
        {{else}}
            <div class="tray-title-small" style="text-align: center; padding: 10px;">No weapons available</div>
        {{/if}}
    </div>
</div>