<div class="spells-panel">
    {{#if (eq position "left")}}
    <div class="section-header">
        <div class="header-left">
            <i class="fa-solid fa-sparkles"></i> Spells
        </div>
        <div class="header-right">
            {{#if (lookup spellsByType "atwill")}}
            <i class="fa-solid fa-square-a spell-level-filter active" data-filter-id="category-spell-at-will" title="Toggle At-Will Spells"></i>
            {{/if}}
            {{#if (lookup spellsByLevel 0)}} 
            <i class="fa-solid fa-square-c spell-level-filter active" data-filter-id="category-spell-level-0" title="Toggle Cantrips"></i>
            {{/if}}
            {{#each spellSlots}}
            {{#if (or (gt this.max 0) (lookup ../spellsByLevel this.level))}}
            <i class="fa-solid fa-square-{{this.level}} spell-level-filter active" data-filter-id="category-spell-level-{{this.level}}" title="Toggle Level {{this.level}} Spells"></i>
            {{/if}}
            {{/each}}
            <i class="fa-solid fa-sun spell-filter-toggle filter-toggle {{#if showOnlyPrepared}}active{{else}}faded{{/if}}" title="Toggle Prepared Spells"></i>
        </div>
    </div>
    {{/if}}

    {{#if (eq position "bottom")}}
    <div class="spell-slots">
        {{#each spellSlots}}
        <div class="slot-group">
            <div class="slot-label">Level {{this.level}}</div>
            <div class="slot-pips">
                {{#times this.max}}
                <div class="slot-pip {{#if (lt @index this.used)}}filled{{/if}}" data-level="{{../level}}"></div>
                {{/times}}
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}

    <div class="spells-list">
        {{#if (eq position "left")}}
            {{#if spells}}
                {{!-- At-Will Spells --}}
                {{#if spells}}
                <div class="category-header" data-category-id="category-spell-at-will">
                    <span>At-Will</span>
                    <div class="slot-pips">
                        <i class="fa-solid fa-infinity" title="These spells can be cast any number of times"></i>
                    </div>
                </div>
                {{#each spells as |spell|}}
                    {{#if (eq spell.system.preparation.mode "atwill")}}
                    <div class="spell-item prepared" data-spell-id="{{spell.id}}" data-category-id="category-spell-at-will">
                        <div class="spell-row">
                            <div class="spell-image-container">
                                <img class="spell-image" src="{{spell.img}}" alt="{{spell.name}}"/>
                                <i class="fa-solid fa-dice-d20 spell-roll-overlay"></i>
                            </div>
                            <div class="spell-name">
                                {{spell.name}}
                                <div class="spell-components">
                                    {{#each spell.system.properties}}
                                        {{#if (eq this "vocal")}}<span class="component-icon" title="Vocal Component">V</span>{{/if}}
                                        {{#if (eq this "somatic")}}<span class="component-icon" title="Somatic Component">S</span>{{/if}}
                                        {{#if (eq this "material")}}<span class="component-icon" title="Material Component">M</span>{{/if}}
                                        {{#if (eq this "concentration")}}<span class="component-icon" title="Concentration Component">C</span>{{/if}}
                                        {{#if (eq this "ritual")}}<span class="component-icon" title="Concentration Component">R</span>{{/if}}
                                    {{/each}}
                                </div>
                            </div>
                            <div class="tray-buttons">
                                <i class="fa-solid fa-heart {{#unless spell.isFavorite}}faded{{/unless}}" title="Toggle Favorite"></i>
                                <i class="fa-solid fa-feather"></i>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                {{/each}}
                {{/if}}

                {{!-- Cantrips --}}
                {{#if (lookup spellsByLevel 0)}}
                <div class="category-header" data-category-id="category-spell-level-0">
                    <span>Cantrips</span>
                    <div class="slot-pips">
                        <i class="fa-solid fa-infinity" title="Cantrips can be cast any number of times"></i>
                    </div>
                </div>
                {{#each spells as |spell|}}
                    {{#if (eq spell.system.level 0)}}
                    <div class="spell-item prepared" data-spell-id="{{spell.id}}" data-category-id="category-spell-level-0">
                        <div class="spell-row">
                            <div class="spell-image-container">
                                <img class="spell-image" src="{{spell.img}}" alt="{{spell.name}}"/>
                                <i class="fa-solid fa-dice-d20 spell-roll-overlay"></i>
                            </div>
                            <div class="spell-name">
                                {{spell.name}}
                                <div class="spell-components">
                                    {{#each spell.system.properties}}
                                        {{#if (eq this "vocal")}}<span class="component-icon" title="Vocal Component">V</span>{{/if}}
                                        {{#if (eq this "somatic")}}<span class="component-icon" title="Somatic Component">S</span>{{/if}}
                                        {{#if (eq this "material")}}<span class="component-icon" title="Material Component">M</span>{{/if}}
                                        {{#if (eq this "concentration")}}<span class="component-icon" title="Concentration Component">C</span>{{/if}}
                                        {{#if (eq this "ritual")}}<span class="component-icon" title="Concentration Component">R</span>{{/if}}
                                    {{/each}}
                                </div>
                            </div>
                            <div class="tray-buttons">
                                <i class="fa-solid fa-heart {{#unless spell.isFavorite}}faded{{/unless}}" title="Toggle Favorite"></i>
                                <i class="fa-solid fa-feather"></i>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                {{/each}}
                {{/if}}

                {{!-- Leveled Spells --}}
                {{#each spellSlots as |slot|}}
                    {{#if (or (gt slot.max 0) (lookup ../spellsByLevel slot.level))}}
                    <div class="category-header" data-category-id="category-spell-level-{{slot.level}}">
                        <span>Level {{slot.level}}</span>
                        <div class="slot-pips" data-level="{{slot.level}}">
                            {{#times slot.max}}
                            <div class="slot-pip {{#if (lt @index slot.reversedUsed)}}filled{{/if}}" data-level="{{slot.level}}" title="{{#if (lt @index slot.reversedUsed)}}Available{{else}}Expended{{/if}}"></div>
                            {{/times}}
                        </div>
                    </div>
                    {{#each (lookup ../spellsByLevel slot.level) as |spell|}}
                        <div class="spell-item {{#if spell.system.preparation.prepared}}prepared{{/if}}" 
                             data-spell-id="{{spell.id}}" 
                             data-category-id="category-spell-level-{{slot.level}}">
                            <div class="spell-row">
                                <div class="spell-image-container">
                                    <img class="spell-image" src="{{spell.img}}" alt="{{spell.name}}"/>
                                    <i class="fa-solid fa-dice-d20 spell-roll-overlay"></i>
                                </div>
                                <div class="spell-name">
                                    {{spell.name}}
                                    <div class="spell-components">
                                        {{#each spell.system.properties}}
                                            {{#if (eq this "vocal")}}<span class="component-icon" title="Vocal Component">V</span>{{/if}}
                                            {{#if (eq this "somatic")}}<span class="component-icon" title="Somatic Component">S</span>{{/if}}
                                            {{#if (eq this "material")}}<span class="component-icon" title="Material Component">M</span>{{/if}}
                                            {{#if (eq this "concentration")}}<span class="component-icon" title="Concentration Component">C</span>{{/if}}
                                            {{#if (eq this "ritual")}}<span class="component-icon" title="Concentration Component">R</span>{{/if}}
                                        {{/each}}
                                    </div>
                                </div>
                                <div class="tray-buttons">
                                    <i class="fa-solid fa-sun {{#unless spell.system.preparation.prepared}}faded{{/unless}}" title="Prepared"></i>
                                    <i class="fa-solid fa-heart {{#unless spell.isFavorite}}faded{{/unless}}" title="Toggle Favorite"></i>
                                    <i class="fa-solid fa-feather"></i>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    {{/if}}
                {{/each}}
                <div class="tray-title-small no-matches" style="text-align: center; padding: 10px; display: none;">No matches found</div>
            {{else}}
                <div class="tray-title-small" style="text-align: center; padding: 10px;">No spells available</div>
            {{/if}}
        {{else}}
            {{!-- Bottom position: original flat list --}}
            {{#each spells}}
            <div class="spell-item {{#if this.prepared}}prepared{{/if}}" data-spell-id="{{this.id}}">
                <div class="spell-row">
                    <div class="spell-image-container">
                        <img class="spell-image" src="{{this.img}}" alt="{{this.name}}"/>
                        <i class="fa-solid fa-dice-d20 spell-roll-overlay"></i>
                    </div>
                    <div class="spell-name">{{this.name}}</div>
                    <div class="spell-level">
                        {{#if (eq this.level 0)}}
                        C
                        {{else}}
                        {{this.level}}
                        {{/if}}
                    </div>
                    <div class="tray-buttons">
                        <i class="fa-solid fa-sun {{#unless this.prepared}}faded{{/unless}}" title="Prepared"></i>
                        <i class="fa-solid fa-heart {{#unless this.isFavorite}}faded{{/unless}}" title="Toggle Favorite"></i>
                        <i class="fa-solid fa-feather"></i>
                    </div>
                </div>
            </div>
            {{/each}}
        {{/if}}
    </div>
</div>

{{#*inline "spell-item"}}
<div class="spell-item" data-item-id="{{id}}">
    <img src="{{img}}" alt="{{name}}" class="spell-icon">
    <span class="spell-name">{{name}}</span>
    {{> "modules/coffee-pub-squire/templates/partials/action-type"}}
    <div class="spell-controls">
        <a class="spell-favorite {{#if isFavorite}}active{{/if}}"><i class="fa-solid fa-star"></i></a>
        {{#if isPrepared}}<i class="fa-solid fa-book-open" title="Prepared"></i>{{/if}}
    </div>
</div>
{{/inline}} 