<div class="character-panel">
    <!-- HEADER -->
    <div class="header-left">
        <div class="character-portrait clickable" title="Click to share portrait with all players">
            <img src="{{actor.img}}" alt="{{default displayName actor.name}}" title="{{default displayName actor.name}}">
            <div class="health-overlay" style="height: {{healthOverlayHeight actor.system.attributes.hp}}"></div>
            {{#if (eq actor.system.attributes.hp.value 0)}}<i class="fas fa-skull death-skull"></i>{{/if}}
        </div>
        <div class="character-info">
            <span class="character-name">{{default displayName actor.name}}</span>
            <div class="character-details">
                <div class="details-primary">
                    {{#if (eq actor.type "character")}}
                        {{#each actor.items as |item|}}
                            {{#if (eq item.type "class")}}
                                {{item.name}} • Level {{item.system.levels}}
                            {{/if}}
                        {{/each}}
                    {{else}}
                        {{#if actor.system.details.cr}}CR {{actor.system.details.cr}}{{/if}}
                    {{/if}}
                    {{#if actor.system.details.alignment}} • {{actor.system.details.alignment}}{{/if}}
                </div>
                <div class="details-secondary">
                    {{#if speeds}}
                        <div>SPEED: {{#each speeds}}{{#unless @first}}, {{/unless}}{{label}} {{value}}{{#if ../speedUnits}} {{../speedUnits}}{{/if}}{{#if (and (eq type "fly") ../canHover)}} (hover){{/if}}{{/each}}</div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="header-right">
        <i class="fas fa-scroll print-character" title="Print Character Sheet"></i>
        <i class="fas fa-feather character-sheet-toggle" title="Open Character Sheet"></i>
    </div>
</div> 



