{{#if (eq position "left")}}
    
    {{#unless isHealthPopped}}
    <div class="tray-title-small">
        <span>Health: {{#if actor}}{{actor.system.attributes.hp.value}} OF {{actor.system.attributes.hp.max}}{{else}}No Character Selected{{/if}}</span>
        <div class="health-controls">
            <i class="fa-solid fa-up-right-from-square pop-out-button" title="Pop out to window"></i>
            <i class="fas fa-chevron-down health-toggle" title="Toggle Health Panel"></i>
        </div>
    </div>
    {{/unless}}
    <div class="health-content">
        <div class="bars">
            <div class="bar-section">
                <div class="hp-bar">
                    {{#if actor}}
                        <div class="hp-current">
                            <span class="hp-label">REMAINING</span>
                            <span class="hp-value">{{actor.system.attributes.hp.value}}</span>
                        </div>
                        <div class="hp-fill" style="width: {{multiply (divide actor.system.attributes.hp.value actor.system.attributes.hp.max) 100}}%"></div>
                        <div class="hp-max">
                            <span class="hp-value">{{actor.system.attributes.hp.max}}</span>
                            <span class="hp-label">MAX</span>
                        </div>
                    {{else}}
                        <div class="hp-fill hp-no-actor">No Health to Display</div>
                    {{/if}}
                </div>
                {{#if isGM}}
                <div class="hp-controls {{#unless actor}}disabled{{/unless}}">
                    <button class="hp-btn death-toggle" {{#unless actor}}disabled{{/unless}} title="{{#if actor}}Toggle Dead Status{{else}}No character selected{{/if}}">
                        <i class="fas fa-skull"></i>
                    </button>
                    <button class="hp-btn hp-down" {{#unless actor}}disabled{{/unless}} title="{{#if actor}}Decrease HP{{else}}No character selected{{/if}}">
                        <i class="fas fa-caret-down"></i>
                    </button>
                    <input type="number" class="hp-amount" value="" placeholder="1" {{#unless actor}}disabled{{/unless}}>
                    <button class="hp-btn hp-up" {{#unless actor}}disabled{{/unless}} title="{{#if actor}}Increase HP{{else}}No character selected{{/if}}">
                        <i class="fas fa-caret-up"></i>
                    </button>
                    <button class="hp-btn hp-full" {{#unless actor}}disabled{{/unless}} title="{{#if actor}}Full Heal{{else}}No character selected{{/if}}">
                        <i class="fas fa-heart"></i>
                    </button>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    
{{/if}} 

