
<!-- PARTY HEALTH -->

<div class="party-health-card clickable ">
    <div class="party-health-card-info">
        <div class="party-health-card-title">Party Health</div>
        <div class="party-health-card-details">
            <div class="party-hp-bar party-health-card-hp-bar">
                <div class="hp-current">
                    <span class="hp-value">{{partyRemainingHP}}</span>
                </div>
                <div class="hp-fill {{partyHealthbarStatus}}" style="width: {{multiply (divide partyRemainingHP partyTotalHP) 100}}%"></div>
                <div class="hp-max">
                    <span class="hp-value">{{partyTotalHP}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PARTY CHARACTERS -->

{{#each tokens as |token|}}
    <div class="character-card {{#if token.actor.isOwner}}clickable{{/if}} {{#if (includes ../controlledTokenIds token.id)}}selected{{/if}}" data-token-id="{{token.id}}">
        <div class="character-image clickable" style="background-image: url('{{token.actor.img}}')" title="Click to share portrait with all players">
            {{#if token.actor.system.attributes.hp}}
            <div class="health-overlay" style="height: {{healthOverlayHeight token.actor.system.attributes.hp}}"></div>
            {{#if (eq token.actor.system.attributes.hp.value 0)}}
            <i class="fas fa-skull death-skull"></i>
            {{/if}}
            {{/if}}
        </div>
        <div class="character-info">
            <div class="character-name">{{token.name}}</div>
            <div class="character-details">
                <div class="details-primary">
                    {{#if (eq token.actor.type "character")}}
                        {{#each token.actor.items as |item|}}
                            {{#if (eq item.type "class")}}
                                {{item.name}} • Level {{item.system.levels}}
                            {{/if}}
                        {{/each}}
                    {{else}}
                        {{#if token.actor.system.details.cr}}CR {{token.actor.system.details.cr}}{{/if}}
                    {{/if}}
                    {{#if token.actor.system.details.alignment}} • {{token.actor.system.details.alignment}}{{/if}}
                </div>
                <div class="details-secondary">
                    {{#if (ne token.actor.type "character")}}
                        <div>RESISTANCES: {{#if token.actor.system.traits.dr.value}}{{#each token.actor.system.traits.dr.value}}{{#unless @first}}, {{/unless}}{{this}}{{/each}}{{else}}None{{/if}}</div>
                        <div>IMMUNITITES: {{#if token.actor.system.traits.di.value}}{{#each token.actor.system.traits.di.value}}{{#unless @first}}, {{/unless}}{{this}}{{/each}}{{else}}None{{/if}}</div>
                    {{/if}}
                </div>
                {{#if token.actor.system.attributes.hp}}
                    <div class="party-hp-bar">
                        <div class="hp-current">
                            <span class="hp-value">{{token.actor.system.attributes.hp.value}}</span>
                        </div>
                        <div class="hp-fill {{token.healthbarStatus}}" style="width: {{multiply (divide token.actor.system.attributes.hp.value token.actor.system.attributes.hp.max) 100}}%"></div>
                        <div class="hp-max">
                            <span class="hp-value">{{token.actor.system.attributes.hp.max}}</span>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="character-actions">
            {{#if token.actor.isOwner}}
            <i class="fas fa-feather-alt open-sheet" title="Open Character Sheet"></i>
            {{/if}}
        </div>
    </div>
{{else}}
    <div class="no-party-message">
        <p>- No Party Tokens to Display -</p>
        <p>Add tokens to the scene to get started</p>
    </div>
{{/each}}

<!-- MONSTER AND NPC CHARACTERS -->

{{#if isGM}}
    {{#if nonPlayerTokens.length}}
        <div class="section-divider">
            <span class="divider-text">MONSTERS & NPCs</span>
        </div>
        
        {{#each nonPlayerTokens as |token|}}
            <div class="character-card npc-card {{#if token.actor.isOwner}}clickable{{/if}} {{#if (includes ../controlledTokenIds token.id)}}selected{{/if}}" data-token-id="{{token.id}}">
                <div class="character-image clickable" style="background-image: url('{{token.actor.img}}')" title="Click to share portrait with all players">
                    {{#if token.actor.system.attributes.hp}}
                    <div class="health-overlay" style="height: {{healthOverlayHeight token.actor.system.attributes.hp}}"></div>
                    {{#if (eq token.actor.system.attributes.hp.value 0)}}
                    <i class="fas fa-skull death-skull"></i>
                    {{/if}}
                    {{/if}}
                </div>
                <div class="character-info">
                    <div class="character-name">{{token.name}}</div>
                    <div class="character-details">
                        <div class="details-primary">
                            {{#if token.actor.system.details.cr}}CR {{token.actor.system.details.cr}}{{/if}}
                            {{#if token.actor.system.details.alignment}} • {{token.actor.system.details.alignment}}{{/if}}
                        </div>
                        <div class="details-secondary">
                            <div>RESISTANCES: {{#if token.actor.system.traits.dr.value}}{{#each token.actor.system.traits.dr.value}}{{#unless @first}}, {{/unless}}{{this}}{{/each}}{{else}}None{{/if}}</div>
                            <div>IMMUNITITES: {{#if token.actor.system.traits.di.value}}{{#each token.actor.system.traits.di.value}}{{#unless @first}}, {{/unless}}{{this}}{{/each}}{{else}}None{{/if}}</div>
                        </div>
                        {{#if token.actor.system.attributes.hp}}
                        <div class="party-hp-bar">
                            <div class="hp-current">
                                <span class="hp-value">{{token.actor.system.attributes.hp.value}}</span>
                            </div>
                            <div class="hp-fill {{token.healthbarStatus}}" style="width: {{multiply (divide token.actor.system.attributes.hp.value token.actor.system.attributes.hp.max) 100}}%"></div>
                            <div class="hp-max">
                                <span class="hp-value">{{token.actor.system.attributes.hp.max}}</span>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>
                <div class="character-actions">
                    <i class="fas fa-feather-alt open-sheet" title="Open Character Sheet"></i>
                </div>
            </div>
        {{/each}}
    {{/if}}
{{/if}} 