{{#if (eq position "left")}}
{{#unless isMacrosPopped}}
<div class="tray-title-small">
    {{#if actor}}Macros: {{actor.name}}{{else}}Macros: No Character{{/if}}
    <div class="macros-controls">
        <i class="fa-solid fa-up-right-from-square pop-out-button" title="Pop out to window"></i>
        <i class="fas fa-chevron-down macros-toggle" title="Toggle Macros Panel"></i>
    </div>
</div>
{{/unless}}

<div class="macros-content">
    <div class="macros-grid">
        {{#if macros.length}}
            {{#each macros as |macro idx|}}
                {{#if macro.id}}
                    <div class="macro-slot" data-slot="{{idx}}" draggable="false">
                        <img src="{{macro.img}}" title="{{macro.name}}" draggable="false" />
                    </div>
                {{/if}}
            {{/each}}
        {{else}}
            <div class="macro-slot empty" data-slot="0" draggable="false">
                <div class="macro-placeholder"><i class="fas fa-plus"></i></div>
            </div>
        {{/if}}
        {{#if showAddSlot}}
            <div class="macro-slot empty add-slot" data-slot="add" draggable="false">
                <div class="macro-placeholder"><i class="fas fa-plus"></i></div>
            </div>
        {{/if}}
    </div>
</div>
{{/if}} 