{{#if (eq position "left")}}
{{#unless isMacrosPopped}}
<div class="tray-title-small">
    {{#if actor}}Macros: {{actor.name}}{{else}}Macros: No Character{{/if}}
    <div class="macros-controls">
        <i class="fa-solid fa-up-right-from-square pop-out-button" title="Pop out to window"></i>
        <i class="fas fa-chevron-down macros-toggle" title="Toggle Macros Panel"></i>
    </div>
</div>
{{/unless}}

<div class="macros-content">
    <div class="macros-grid">
        {{#each (macrosOrPlaceholders macros) as |macro idx|}}
            <div class="macro-slot {{#unless macro.id}}empty{{/unless}}" data-slot="{{idx}}">
                {{#if macro.id}}
                    <img src="{{macro.img}}" title="{{macro.name}}" draggable="false" />
                {{else}}
                    <div class="macro-placeholder"><i class="fas fa-plus"></i></div>
                {{/if}}
            </div>
        {{/each}}
    </div>
</div>
{{/if}} 