<div class="favorites-panel">
    {{#if (eq position "left")}}
    <div class="section-header">
        <div class="header-left">
            <i class="fas fa-heart"></i> Favorites
        </div>
        <div class="header-right">
            {{#if hasFavorites}}
            <i class="fas fa-heart-circle-xmark favorites-clear-all" title="Clear All Favorites"></i>
            {{/if}}
            <i class="fas fa-sparkles favorites-spell-toggle filter-toggle {{#if showSpells}}active{{else}}faded{{/if}}" title="Toggle Spell Favorites"></i>
            <i class="fas fa-swords favorites-weapon-toggle filter-toggle {{#if showWeapons}}active{{else}}faded{{/if}}" title="Toggle Weapon Favorites"></i>
            <i class="fas fa-stars favorites-features-toggle filter-toggle {{#if showFeatures}}active{{else}}faded{{/if}}" title="Toggle Feature Favorites"></i>
            <i class="fas fa-backpack favorites-inventory-toggle filter-toggle {{#if showInventory}}active{{else}}faded{{/if}}" title="Toggle Inventory Favorites"></i>
        </div>
    </div>
    {{/if}}
    <div class="favorites-list">
        {{#if favorites}}
        {{#each favorites}}
        <div class="favorite-item" data-item-id="{{this.id}}">
            <div class="favorite-row">
                <div class="favorite-image-container">
                    <img class="favorite-image" src="{{this.img}}" alt="{{this.name}}"/>
                    <i class="fas fa-dice-d20 favorite-roll-overlay"></i>
                </div>
                <div class="favorite-name">{{this.name}}</div>
                <div class="tray-buttons">
                    <i class="fas fa-heart" title="Remove from Favorites"></i>
                    <i class="fas fa-feather"></i>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="tray-title-small no-matches" style="text-align: center; padding: 10px; display: none;">No matches found</div>
        {{else}}
        <div class="tray-title-small" style="text-align: center; padding: 10px;">No favorites available</div>
        {{/if}}
    </div>
</div> 