{{#*inline "feature-item"}}
<div class="feature-item" data-feature-id="{{id}}" data-category-id="{{categoryId}}">
    <div class="feature-row">
        <div class="feature-image-container">
            <img class="feature-image" src="{{img}}" alt="{{name}}"/>
            <i class="fa-solid fa-dice-d20 feature-roll-overlay"></i>
        </div>
        <div class="feature-name">
            {{name}}
            {{#if actionType}}
            <span class="action-type">
                {{#if (eq actionType "action")}}<i class="fa-solid fa-circle-a" title="Action"></i>
                {{else if (eq actionType "bonus")}}<i class="fa-solid fa-circle-b" title="Bonus Action"></i>
                {{else if (eq actionType "reaction")}}<i class="fa-solid fa-circle-r" title="Reaction"></i>
                {{else if (eq actionType "special")}}<i class="fa-solid fa-circle-s" title="Special"></i>{{/if}}
            </span>
            {{/if}}
            {{#if uses}}
            {{#if (or uses.max uses.value)}}
                <span class="feature-uses">({{uses.value}}/{{uses.max}})</span>
            {{/if}}
            {{/if}}
        </div>
        <div class="tray-buttons">
            <i class="fa-solid fa-heart {{#unless isFavorite}}faded{{/unless}}" title="Toggle Favorite"></i>
            <i class="fa-solid fa-feather"></i>
        </div>
    </div>
</div>
{{/inline}}

<div class="features-panel">
    {{#if (eq position "left")}}
    <div class="section-header">
        <div class="header-left">
            <i class="fa-solid fa-stars"></i> Features
        </div>
        <div class="header-right">
            {{#if (lookup featuresByType "class")}}<i class="fa-solid fa-graduation-cap features-category-filter active" data-filter-id="category-feature-class" title="Toggle Class Features"></i>{{/if}}
            {{#if (lookup featuresByType "subclass")}}<i class="fa-solid fa-book-sparkles features-category-filter active" data-filter-id="category-feature-subclass" title="Toggle Subclass Features"></i>{{/if}}
            {{#if (lookup featuresByType "race")}}<i class="fa-solid fa-users features-category-filter active" data-filter-id="category-feature-race" title="Toggle Racial Features"></i>{{/if}}
            {{#if (lookup featuresByType "background")}}<i class="fa-solid fa-scroll features-category-filter active" data-filter-id="category-feature-background" title="Toggle Background Features"></i>{{/if}}
            {{#if (lookup featuresByType "feat")}}<i class="fa-solid fa-hand-sparkles features-category-filter active" data-filter-id="category-feature-feat" title="Toggle Feats"></i>{{/if}}
        </div>
    </div>
    {{/if}}
    <div class="features-list">
        {{#if features}}
            {{!-- Class Features --}}
            {{#if (lookup featuresByType "class")}}
            <div class="category-header" data-category-id="category-feature-class">Class Features</div>
            {{#each (lookup featuresByType "class") as |feature|}}
            {{> feature-item 
                id=feature.id 
                img=feature.img 
                name=feature.name 
                actionType=feature.actionType 
                uses=feature.system.uses 
                isFavorite=feature.isFavorite 
                categoryId="category-feature-class"}}
            {{/each}}
            {{/if}}

            {{!-- Subclass Features --}}
            {{#if (lookup featuresByType "subclass")}}
            <div class="category-header" data-category-id="category-feature-subclass">Subclass Features</div>
            {{#each (lookup featuresByType "subclass") as |feature|}}
            {{> feature-item 
                id=feature.id 
                img=feature.img 
                name=feature.name 
                actionType=feature.actionType 
                uses=feature.system.uses 
                isFavorite=feature.isFavorite 
                categoryId="category-feature-subclass"}}
            {{/each}}
            {{/if}}

            {{!-- Race Features --}}
            {{#if (lookup featuresByType "race")}}
            <div class="category-header" data-category-id="category-feature-race">Racial Features</div>
            {{#each (lookup featuresByType "race") as |feature|}}
            {{> feature-item 
                id=feature.id 
                img=feature.img 
                name=feature.name 
                actionType=feature.actionType 
                uses=feature.system.uses 
                isFavorite=feature.isFavorite 
                categoryId="category-feature-race"}}
            {{/each}}
            {{/if}}

            {{!-- Background Features --}}
            {{#if (lookup featuresByType "background")}}
            <div class="category-header" data-category-id="category-feature-background">Background Features</div>
            {{#each (lookup featuresByType "background") as |feature|}}
            {{> feature-item 
                id=feature.id 
                img=feature.img 
                name=feature.name 
                actionType=feature.actionType 
                uses=feature.system.uses 
                isFavorite=feature.isFavorite 
                categoryId="category-feature-background"}}
            {{/each}}
            {{/if}}

            {{!-- Feats --}}
            {{#if (lookup featuresByType "feat")}}
            <div class="category-header" data-category-id="category-feature-feat">Feats</div>
            {{#each (lookup featuresByType "feat") as |feature|}}
            {{> feature-item 
                id=feature.id 
                img=feature.img 
                name=feature.name 
                actionType=feature.actionType 
                uses=feature.system.uses 
                isFavorite=feature.isFavorite 
                categoryId="category-feature-feat"}}
            {{/each}}
            {{/if}}

            <div class="tray-title-small no-matches" style="text-align: center; padding: 10px; display: none;">No matches found</div>
        {{else}}
            <div class="tray-title-small" style="text-align: center; padding: 10px;">No features available</div>
        {{/if}}
    </div>
</div> 