<div>
  <div class="quest-tooltip-title">
    <span class="quest-tooltip-quest-icon">{{{questCategoryIcon}}}</span>
    <span class="quest-tooltip-quest-number">{{questNumber}}</span>
    <span class="quest-tooltip-quest-name">{{questName}}</span>
  </div>
  
  {{#if participants.length}}
    <div class="quest-tooltip-participants">
      {{#each participants}}
        <span class="quest-tooltip-participant" data-tooltip="{{this.name}}">
          <img src="{{this.img}}" alt="{{this.name}}" class="quest-tooltip-portrait" />
        </span>
      {{/each}}
    </div>
  {{/if}}
  
  <div class="quest-tooltip-metadata-wrapper">
    <span class="quest-tooltip-status">{{questStatus}}</span>
    {{#if visibility}}
      <span class="quest-tooltip-visibility">{{visibility}}</span>
    {{/if}}
    <span class="quest-tooltip-progress">{{completedObjectives}} of {{totalObjectives}} complete</span>
  </div>

  <div class="quest-tooltip-description">{{description}}</div>
  
  {{#if plotHook}}
    <div class="quest-tooltip-plot-hook"><strong>PLOT HOOK</strong>: {{plotHook}}</div>
  {{/if}}
  
  {{#if location}}
    <div class="quest-tooltip-location"><strong>LOCATION</strong>: {{location}}</div>
  {{/if}}
  
  {{#if controls}}
    <div class="quest-tooltip-controls">{{controls}}</div>
  {{/if}}
</div>
