<div>
  <div class="quest-tooltip-title"><span class="quest-tooltip-quest-number">{{questNumber}}</span><span class="quest-tooltip-objective">{{objectiveNumberPadded}}</span>{{questName}}</div>
  <span class="quest-tooltip-state state-{{objectiveState}}">{{objectiveState}}</span>
  <div class="quest-tooltip-description">{{description}}</div>
  {{#if gmHint}}
    <div class="quest-pin-gm-hint">GM Note:{{gmHint}}</div>
  {{/if}}
  {{#if visibility}}
    <div class="quest-tooltip-visibility">{{visibility}}</div>
  {{/if}}
  {{#if controls}}
    <div class="quest-tooltip-controls">{{controls}}</div>
  {{/if}}
</div> 