<form>
    <div class="form-group transfer-dialog">
        <div class="transfer-item-header">
            <div class="transfer-item-image">
                <img src="{{sourceItem.img}}" alt="{{sourceItem.name}}">
            </div>
            <div class="transfer-text">
                <div class="item-title">{{sourceItem.name}}</div>
                
                {{#if isReceiveRequest}}
                <p class="item-description">
                    {{sourceActor.name}} wants to give {{#if hasQuantity}}{{selectedQuantity}} {{/if}}{{sourceItem.name}} to you
                </p>
                {{else}}
                <p class="item-description">
                    {{sourceActor.name}} is giving {{sourceItem.name}} to {{targetActor.name}}
                </p>
                {{/if}}
            </div>
        </div>
        
        {{#if canAdjustQuantity}}
        {{#unless isReceiveRequest}}
        <div class="transfer-quantity">
            <span class="quantity-label">1</span>
            <input type="range" name="quantity_{{timestamp}}" value="1" min="1" max="{{maxQuantity}}" step="1">
            <span class="range-value">{{maxQuantity}}</span>
        </div>
        {{/unless}}
        {{/if}}
        
        {{#if isReceiveRequest}}
        <div class="transfer-message">
            <p>{{sourceActor.name}} is requesting to transfer {{#if hasQuantity}}{{selectedQuantity}} {{/if}}{{sourceItem.name}} to you. Do you want to accept?</p>
        </div>
        {{/if}}
    </div>
</form>
<script>
    (function() {
        // Wait for DOM to be fully loaded
        setTimeout(() => {
            const rangeEl = document.querySelector('#transfer-item-{{timestamp}} input[name="quantity_{{timestamp}}"]');
            const displayEl = document.querySelector('#transfer-item-{{timestamp}} .range-value');
            const labelEl = document.querySelector('#transfer-item-{{timestamp}} .quantity-label');
            
            if (rangeEl && displayEl && labelEl) {
                // Set initial values
                labelEl.textContent = rangeEl.value;
                displayEl.textContent = {{maxQuantity}};
                
                // Add event listener
                rangeEl.addEventListener('input', (ev) => {
                    const selectedQty = parseInt(ev.target.value);
                    const remainingQty = {{maxQuantity}} - selectedQty;
                    
                    // Update labels: left shows selected amount, right shows remaining
                    labelEl.textContent = selectedQty;
                    displayEl.textContent = remainingQty;
                });
            }
        }, 10);
    })();
</script> 